* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 0;
    background-color: rgba(244, 142, 58, 0.543);
}

.box {
    margin: 80px
}

ul {
    background-color: rgba(244, 142, 58, 0.543);
    border-radius: 20px;
    padding: 10px;
}

ul li {
    margin: 10px 20px;
    padding: 20px;
    font-weight: 700;
    border: 2px solid rgb(163, 85, 21);
    border-radius: 20px;
}